MY_EMAIL_ADDRESS=

SECRET_KEY=

DEBUG=

ALLOWED_HOSTS=

MAIL_JET_API_KEY=

MAIL_JET_API_SECRET=

MAIL_JET_EMAIL_ADDRESS=

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=

BUCKET_TYPE=

DATABASE_URL=

REDIS_CLOUD_URL=

DOMAIN= 

PROTOCOL=

# SENTRY
SENTRY_ENVIRONMENT=

SENTRY_DSH_URL=

# deploy_kube.sh requirements
HARBOR_USERNAME=

HARBOR_PASSWORD=

