{% extends 'base.html' %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  /* Full viewport height and center content */
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures it takes up the full viewport height */
  }

  /* Adjust card to be wider and centered */
  .card {
    width: 100%;
    max-width: 800px; /* Adjusting max width for larger screens */
    padding: 30px;
  }

  /* Center button */
  .d-flex {
    margin-top: 20px;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<section>
  <div class="container-fluid" style="padding-top: 30px;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title text-danger" style="font-weight: bold;">Error 403</h3>
            <h6 class="card-text text-danger">Access Denied - You don't have permission to access this page. If the problem persists, please contact support.</h6>
            <div class="d-flex justify-content-center">
              <a href="{% url 'login' %}" class="btn btn-primary">Sign IN</a>
            </div>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <h6 class="mb-4 text-sm mx-auto">
              <a href="https://arpansahu.me/contact/" class="text-info text-gradient font-weight-bold">Contact Support</a>             
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}