 {% extends 'base.html' %}
{% load static %}
{% block title %}Medical Facilities{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 30px;">
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-4">
            <div class="map-container" style="max-width: 100%; height: 600px; border-radius: 15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
                <div id="map" style="width: 100%; height: 100%; border-radius: 15px;"></div>
                <div style="max-width: 400px;position: fixed;height: 600px;margin-top: 30px;margin-left: 20px;border-radius: 25px;"  id="map">  </div>
                    {% comment %} <script src="{% static 'maps/script.js' %}"></script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3xCaaguvAwQOBctk2TsT8Zqbr59WyNpE&callback=initMap"></script> {% endcomment %}
            </div>
        </div>
        
        <!-- Table Column -->
        <div class="col-md-8">
            <div class="card" style="border-radius: 15px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
                <div class="card-body" style="height: 600px; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Health Facility</th>
                                <th>Address</th>
                                <th>Contact</th>
                                <th>Facility Type</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in hospitalList %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.address }} {{ i.street }} {{ i.landmark }} {{ i.locality }} {{ i.pincode }}</td>
                                <td>{{ i.landline_no }}</td>
                                <td>{{ i.type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'maps/script.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3xCaaguvAwQOBctk2TsT8Zqbr59WyNpE&callback=initMap"></script>
{% endblock %}